<div data-controller="grid">
  <div class="grid-container">
    <% @grid_matrix.each do |row| %>
      <div class="grid-row">
        <% row.each do |cell| %>
          <% css_class = cell.cell_loc == 'R0C0' ? 'grid-cell safe-zone' : 'grid-cell' %>
          <div class="<%= css_class %>"
               data-action="click->grid#showDetails"
               data-cell-id="<%= cell.id %>">
            <%= cell.cell_loc %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= button_to 'Expand', expand_grid_path(@grid), method: :patch, class: 'expand-button' %>

  <div id="cell-details" data-grid-target="details">
    <h2>Cell Details</h2>
    <div>
      Select a cell to see the details!
    </div>
  </div>
</div>
