<!-- app/views/home/index.html.erb -->

<h1>Group 5 game</h1>
<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
<p>
  <%= link_to "Go to abcd's Profile", user_path('abcd'), class: 'btn btn-link' %>
</p>
<!-- You can add more content or navigation links here -->
