.grids-table {
    width: 100%;
    border-collapse: collapse;
}

.grids-table th, .grids-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.create-button {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.create-button:hover {
    background-color: #0056b3;
}

.grid-container {
    display: flex;
    flex-direction: column;
    width: 400px;  /* grid width */
    margin: 20px auto;
}
.grid-row {
    display: flex;
}
.grid-cell {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.character {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: yellow;
    padding: 2px;
    border-radius: 5px;
}

.character {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: darkred;
    padding: 2px;
    border-radius: 5px;
    font-size: 0.8em;
}

.safe-zone {
    background-color: #6BCB77; /* Mark initial safety zone */
    font-weight: bold;
    border-radius: 50%; /* Make the safe zone look more prominent */
}

/* This is for selected cell style */
.grid-cell.selected {
    background-color: rgba(0, 0, 0, 0.1); /* Deep color when the cell is selected */
    border: 2px solid #000; /* Add an obvious border to make it easier for the user to see the selected status */
}